/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --green-light: hsl(123deg, 47%, 74%);
  --green-dark: #2e7f32;
  --blue-light: hsl(210deg, 47%, 74%);
  --blue-dark: #2e577f;
  --orange-light: hsl(34deg, 93%, 77%);
  --orange-dark: #b66a07;
  --purple-light: hsl(231deg, 44%, 76%);
  --purple-dark: #334084;
  --yellow-light: hsl(54deg, 76%, 79%);
  --yellow-dark: #afa018;
  --brown-light: hsl(20deg, 41%, 69%);
  --brown-dark: #68402c;
  --red-light: hsl(0deg, 59%, 76%);
  --red-dark: #922626;
  --pink-light: hsl(295deg, 42%, 72%);
  --pink-dark: #6e2f74;
  --white-light: hsl(0deg, 0%, 100%);
  --white-dark: #999999;
}

.orbit {
  --orbit-speed: 40s;
  --image-height: 12rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.orbit .center-image {
  position: absolute;
  height: var(--image-height);
  aspect-ratio: 1/1;
  z-index: 10;
}
.orbit .center-image img {
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
  transition: opacity 500ms;
}
.orbit .center-image img:last-child:hover {
  opacity: 0;
}
.orbit ul {
  list-style: none;
  position: absolute;
  height: 8rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: start;
  -webkit-animation: orbit var(--orbit-speed) infinite;
          animation: orbit var(--orbit-speed) infinite;
}
.orbit ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  --play-state: paused;
}
.orbit ul li {
  box-sizing: content-box;
  position: absolute;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: var(--icon-bg);
}
.orbit ul li:hover {
  background-color: var(--text-bg);
}
.orbit ul li:hover :first-child {
  opacity: 0;
}
.orbit ul li:hover :last-child {
  opacity: 1;
}
.orbit ul li img {
  transition: opacity 500ms;
  opacity: 1;
}
.orbit ul li p {
  transition: opacity 500ms;
  color: var(--white-light);
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  opacity: 0;
}
.orbit ul li > * {
  position: absolute;
  -webkit-animation: r-orbit var(--orbit-speed) infinite;
          animation: r-orbit var(--orbit-speed) infinite;
  -webkit-animation-play-state: var(--play-state);
          animation-play-state: var(--play-state);
}
.orbit ul li:nth-child(1) {
  --icon-bg: var(--blue-light);
  --text-bg: var(--blue-dark);
  transform: translate(15rem, 0rem);
}
.orbit ul li:nth-child(2) {
  --icon-bg: var(--green-light);
  --text-bg: var(--green-dark);
  transform: translate(10.61rem, 10.61rem);
}
.orbit ul li:nth-child(3) {
  --icon-bg: var(--pink-light);
  --text-bg: var(--pink-dark);
  transform: translate(0, 15rem);
}
.orbit ul li:nth-child(4) {
  --icon-bg: var(--red-light);
  --text-bg: var(--red-dark);
  transform: translate(-10.61rem, 10.61rem);
}
.orbit ul li:nth-child(5) {
  --icon-bg: var(--brown-light);
  --text-bg: var(--brown-dark);
  transform: translate(-15rem, 0rem);
}
.orbit ul li:nth-child(6) {
  --icon-bg: var(--yellow-light);
  --text-bg: var(--yellow-dark);
  transform: translate(-10.61rem, -10.61rem);
}
.orbit ul li:nth-child(7) {
  --icon-bg: var(--purple-light);
  --text-bg: var(--purple-dark);
  transform: translate(0, -15rem);
}
.orbit ul li:nth-child(8) {
  --icon-bg: var(--orange-light);
  --text-bg: var(--orange-dark);
  transform: translate(10.61rem, -10.61rem);
}

@-webkit-keyframes orbit {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes orbit {
  100% {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes r-orbit {
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes r-orbit {
  100% {
    transform: rotate(-1turn);
  }
}/*# sourceMappingURL=style.css.map */